@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

/* Styles for the scrollbar track */
body::-webkit-scrollbar,
body::-webkit-scrollbar-track,
body::-webkit-scrollbar-thumb {
  width: 6px;
}

body::-webkit-scrollbar-thumb {
  background-color: #ababab;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.fade-in {
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

.fade-in.visible {
  opacity: 1;
}

/* .............. Classes that are not in tailwind ............................ */

.transition-width {
  transition: width 0.3s ease-in-out;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.img-hover {
  background-position: center center;
  transition: background-size 0.3s ease;
  background-size: 120%;
}

.img-hover:hover {
  background-size: 150%;
}

/* ........................................................................... */

.heroMainCard {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* .border-glow { */
/*   animation: borderGlow 4s linear infinite; */
/* } */
/**/
/* @keyframes borderGlow { */
/*   0% { */
/*     box-shadow: 0 0 5px 2px rgba(255, 155, 255, 0.2); */
/*   } */
/*   25% { */
/*     box-shadow: 0 0 10px 5px rgba(155, 255, 255, 0.2); */
/*   } */
/*   50% { */
/*     box-shadow: 0 0 5px 2px rgba(255, 255, 155, 0.2); */
/*   } */
/*   75% { */
/*     box-shadow: 0 0 10px 5px rgba(155, 155, 255, 0.2); */
/*   } */
/*   100% { */
/*     box-shadow: 0 0 5px 2px rgba(255, 155, 155, 0.2); */
/*   } */
/* } */

.shadow-even {
  box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.1);
}

.select {
  @apply flex h-9 rounded-md border border-input bg-transparent px-3 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-normal placeholder:text-gray-400 focus-visible:outline-none disabled:cursor-not-allowed disabled:opacity-50;
}

.no-scroll{
  overflow: hidden;
}